.img, .next, .prev{
    height: 100%;
    background: no-repeat;
    background-size: cover;
    margin:0.5vw;
}
.img{
    width: 46vw;
    box-shadow: 0px 0px 20px black;
}
.next, .prev{
    text-align: center;
    font-size: 5vw;
    line-height: 27vw;
    font-weight: bolder;
    user-select: none;
    color: var(--color-text-primary);
    cursor: pointer;
    width: 14vw;
    opacity: 40%;
}
.prev{
    background-position: right;
    box-shadow: 10px 0px 20px black;
}
.next{
    box-shadow: -10px 0px 20px black;
}
.container{
    height: 27vw;
    display: flex;
}