
.searchbar {
    background-color: rgb(59, 59, 59);
    height: 40px;
    width: 100%;
    border-radius: 25px;
    color: darkgrey;
    padding-left: 15px;
    padding-right: 15px;
    transition: 250ms;
    border:none;
}

.searchbar:hover {
    background-color: white;
    color: #151515;  
}
.searchbar:focus {
    border: none;
    background-color: white;
    color: #151515;
    outline: none;
}

.container{
    position: relative;
    margin: 5px auto;
    width: 80%;
}