.list {
    margin-top: 20px;
    list-style: none;
    z-index: 100;
    display: grid; 
    grid-template-columns: repeat(4, auto);
    grid-gap: 2px;
    margin-left: 5vw;
}

.list>* {
    grid: 1 1 300px;
}