.list {
    margin-top: 20px;
    margin-bottom: 40px;
    list-style: none;
    z-index: 100;
    column-count: 4;
}
@media screen and (max-width: 1000px) {
    .list {
        column-count: 3;
    }
}

@media screen and (max-width: 800px) {
    .list {
        column-count: 2;
    }
}

@media screen and (max-width: 600px) {
    .list {
        column-count: 1;
    }
}
