.App {
  width: 100vw;
  height: 120vh;
  display: flex;
}
.main {
  width: 100% ;
  background-color: red;
}



.sideBar {
  height: 100%;
  width: 250px;
  background-color: green;
}
.nav {
  background-color: yellow;
  min-height: 50px;
  width: 100%;
}

.header {
  background-color: orangered;
  
}

.content {

  background-color: orange;
}


