.App {
  width: 100vw;
  height: 120vh;
  display: flex;
}
.main {
  margin-left: 5vw;
  width: 100% ;
  background-color: red;
}



.sideBar {
  height: 100vh;
  width: fit-content;
  position: fixed;
  background-color: green;
}
.nav {
  background-color: yellow;
  min-height: 50px;
  width: 100%;
}

.header {
  position: relative;
  top: 150px;
  left: 300px;
  height: 200px;
  width: 84.5vw;
  background-color: orangered;
  
}

.content {

  background-color: orange;
}


