html{
  color: var(--color-text-primary);
  background-color: var(--color-background);
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  
}
.main {
  width: 75vw ;
}

.leftSpace {
  height: 100%;
  width: 15vw;
}
.NavigationButton{
  width: 30px;
  height: 30px;
  background-color: white;
}
.nav {
  position: relative;
  min-height: 50px;
  width: 100%;
}
div{
  text-decoration: none;
}
.contentbg{
  height: 100vh;
  width: 100%;
  background-position:top;
  background-repeat: no-repeat;
  background-size: cover;
}
.rightspace{
  height: 100vh;
  width: 10vw;
}
.rightspace, .leftSpace{
  transition: .5s;
}
.sideBar{
  padding-top: 5vh;
  transition: .5s;
  transform: translateX(-110%);
  opacity: 0; 
}
.show{
  transform: translateX(0%);
  opacity: 1;
}
@media screen and (max-width: 600px) {
  .sideBar{
    transform: translateX(-110%);
    width: 100vw;
    height: 100vh;
  }
  .leftSpace{
    width: 0;
    height: 100vh;
  }
  
  .rightspace{
    display: none;
  }
  .show{
    position:fixed;
    transform: translateX(0%);
    background-color: var(--color-background);
    opacity: 1;
  }

  .main{
    width: 75vw;
    margin:0 auto;
  }
}